/*formatando a pagina*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    
}

/*definindo o corpo*/
body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(white , blue, white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*definindo o container do instagram*/
.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

/*definindo o container do telefone*/
.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
   
    
}

/*mudando o tamanho da imagem*/
.instagram-phone img{
    max-width: 100%;
    max-height: 100%;

}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-Foto{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-Foto img{
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.dowload {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-dowloads {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-dowloads:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-dowloads:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}
